<div>
  {{ section.settings.heading }}
  <div>
    {% for block in section.blocks %}
      <div>
        {{ block.settings.heading }}
        {{ block.settings.subheading }}
        {% if block.settings.image %}
          {{ block.settings.image | image_url: width: '300' | image_tag: width: '300' }}
        {% else %}
          {{ 'image' | placeholder_svg_tag }}
        {% endif %}
      </div>
    {% endfor %}
  </div>
  {{ section.blocks.size }}
</div>
{% schema %}
{
  "name": "Demo",
  "class": "demo",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Enter your heading name",
      "default": "Demo Section"
    }
  ],
  "blocks": [
    {
      "name": "Text",
      "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Enter your Block Heading",
          "default": "Block heading"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Enter your Block Subheading",
          "default": "Block Subheading"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Select an image"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Demo",
      "name": "Demo"
    }
  ]
}
{% endschema %}
